.box-lg {
  padding: var(--space-lg);
  box-shadow: var(--shadow-black-soft);
  border-radius: var(--radius-s);
}

.box-xl {
  margin-block: var(--space-2xl);
}

@media (min-width: 48rem) {
  .box-xl {
    margin-block: var(--space-3xl) var(--space-4xl);
  }
}

@media (min-width: 64rem) {
  .box-xl {
    margin-block: var(--space-6xl) var(--space-5xl);
  }
}
