.container {
    max-width: var(--container-max-mobile);
    margin-inline: auto;
}

@media (min-width: 48rem) {
    .container {
        max-width: var(--container-max-tablet);
    }
}

@media (min-width: 64rem) {
    .container {
        max-width: var(--container-max-desktop);
    }
}

