.stack-lg > * + * {
  margin-block-start: var(--space-lg);
}

.stack-xs > * + * {
  margin-block-start: var(--space-xs);
}

.stack-3xs > * + * {
  margin-block-start: var(--space-3xs);
}

.stack--trim-last > :last-child {
  margin-block-start: 0;
}

@media (min-width: 46.15rem) {
  .stack-lg > * + * {
    margin-block-start: 0;
  }
}
