.link {
    color: var(--color-link);
    text-decoration: underline;
    text-decoration-thickness: var(--thickness-s);
    text-underline-offset: var(--offset-m);
}

.link:hover,
.link:focus-visible {
    text-decoration-thickness: var(--thickness-m);
}

.link:focus-visible {
    outline: var(--offset-s) solid var(--color-link);
    outline-offset: var(--offset-s);
}