html {
    background-color: var(--color-bg-main);
    font-family: var(--font-main);
    font-size: var(--fs-sm);
    font-weight: var(--weight-medium);
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-block-size: 100%;
}

address {
    display: inline;
}
