html {
    font-family: var(--font-main);
    font-size: 13px;
    font-weight: var(--weight-medium);
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-block-size: 100%;
}

address {
    display: inline;
}
