:root {
    /* Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-bg-card-1: hsl(263, 55%, 52%);
    --color-bg-img-card-1: hsl(264, 82%, 70%);
    --color-bg-text-card-1: hsl(260, 100%, 95%);

    --color-bg-card-2: hsl(217, 19%, 35%);
    --color-bg-text-card-2: hsl(214, 17%, 92%);

    --color-bg-text-card-3: hsl(224, 10%, 45%);

    --color-bg-card-4: hsl(219, 29%, 14%);
    --color-bg-title-card-4: hsl(0, 0%, 81%);
    --color-bg-text-card-4: hsl(214, 17%, 92%);
    
    --color-link: hsl(228, 45%, 44%);

    /* Radius */
    --radius-s: 0.6154rem;             /* 8px */

    /* Micro spacing */
    --space-3xs: 0.3077rem;        /* 4px  → 4 ÷ 13 */
    --space-2xs: 0.6154rem;        /* 8px  → 8 ÷ 13 */
    --space-xs: 1.2308rem;         /* 16px → 16 ÷ 13 */
    --space-img: 1.3077rem;        /* 17px → 17 ÷ 13 */

    /* Core spacing */
    --space-sm: 1.8462rem;         /* 24px → 24 ÷ 13 */
    --space-lg: 2.4615rem;         /* 32px → 32 ÷ 13 */

     /* Large spacing */
    --space-xl: 3.0769rem;    /* 40px */
    --space-2xl: 5.6154rem;   /* 73px */
    --space-3xl: 6.3846rem;   /* 83px */
    --space-4xl: 8.6923rem;   /* 113px */
    --space-5xl: 16.7692rem;  /* 218px */
    --space-6xl: 17.6154rem;  /* 229px */


    /* Font families */
    --font-main: "Barlow Semi Condensed", sans-serif;

    /* Font weights */
    --weight-medium: 500;
    --weight-semibold: 600;

    /* Font sizes fixed */
    /* Font sizes (base: 13px) */
    --fs-xs: 0.8461rem;      /* 11px → 11 ÷ 13 */
    --fs-sm: 1rem;      /* 13px → base */
    --fs-md: 1.538rem;       /* 20px → 20 ÷ 13 */

    /* Text fluid */
    --text-fluid-xs: clamp(var(--fs-xs), 1vw, var(--fs-sm));  /* 11px - 13px */
   

    /* Line heights */
    --lh-subtitles: 1.1;
    --lh-titles: 1.2;
    --lh-text: 1.4;

     /* Decoration thicknesss */
    --thickness-s: 0.08rem;
    --thickness-m: 0.12rem;

    /* Undeline-offset */
    --offset-m: 0.15rem;
    --offset-s: 0.125rem;    /* 2px */

    --quotation-offset-inline-xs: 4.6153rem;  /* 60px */
    --quotation-offset-inline: 12.6154rem;   /* 164px */

    /* Box-shadow */
     --shadow-black-soft: 3.08rem 4.62rem 3.85rem -0.5rem rgba(72, 85, 106, 0.24);

    /* Border thickness */
    --border-width-s: 0.1538rem;

    /* Cantainer widths */
    --container-max-mobile: 23.4615rem;      /* 305px */
    --container-max-tablet: 49.7692rem;      /* 647px */
    --container-max-desktop: 85.6923rem;     /* 1114px */

    /* User img Size */
    --user-size: 2.4615rem;

    /* Break points always 16px as base */
    --bp-md: 48rem;  /* 768px */
    --bp-lg: 64rem;  /* 1024px */
}