/* =========================================
   BLOCK
========================================= */

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  position: relative;
}


/* =========================================
   ELEMENTS
========================================= */

.card__title {
  font-size: var(--fs-md);
  font-weight: var(--weight-semibold);
  line-height: var(--lh-titles);
}

.card__quote {
  line-height: var(--lh-text);
}

.card__header {
  display: flex;
  gap: var(--space-img);
  align-items: center;
}

.card__name {
  line-height: var(--lh-subtitles);
}

.card__role {
  font-size: var(--fs-xs);
}

.card__avatar {
  inline-size: var(--user-size);
  block-size: var(--user-size);
  object-fit: cover;
  border-radius: 50%;
}

/* =========================================
   MODIFIERS (visual variants)
========================================= */

.card--purple {
  background-color: var(--color-bg-card-1);
  color: var(--color-white);
  overflow: hidden;
}

.card__decoration {
  display: none;
  position: absolute;
}

.card--purple .card__role {
  color: var(--color-bg-text-card-1);
}

.card--purple .card__quote {
  color: var(--color-bg-text-card-1);
}

.card--purple .card__avatar {
  box-shadow: 0 0 0 var(--border-width-s) var(--color-bg-img-card-1);
}

.card--navy {
  background-color: var(--color-bg-card-2);
  color: var(--color-white);
}

.card--navy .card__role {
  color: var(--color-bg-text-card-2);
}

.card--navy .card__quote {
  color: var(--color-bg-text-card-2);
}

.card--light {
  background-color: var(--color-white);
  color: var(--color-bg-card-2);
  z-index: 1;
}


.card--light .card__role {
  color: var(--color-bg-text-card-3);
}


.card--light .card__quote {
  color: var(--color-bg-text-card-3);
}

.card--dark {
  background-color: var(--color-bg-card-4);
  color: var(--color-bg-title-card-4);
}

.card--dark .card__user {
  color: var(--color-white);
}

.card--dark .card__quote {
  color: var(--color-bg-text-card-4);
}

.card--dark .card__avatar {
  box-shadow: 0 0 0 var(--border-width-s) var(--color-bg-card-1);
}

/* =============================================================
   DECORATION (only visible on tablets and larger screens)
================================================================== */

@media (min-width: 48rem) {
  .card--purple .card__decoration {
    display: block;
    top: 0;
    right: var(--quotation-offset-inline);
    z-index: 0;
  }

  .card--purple > *:not(.card__decoration) {
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 64rem) {
  .card--purple .card__decoration {
    right: var(--quotation-offset-inline-xs);
  }
}
